/** BASE STYLES **/
/** font-family: 'Montserrat', sans-serif; font-family: 'Nunito', sans-serif; **/

* {
  box-sizing: border-box;
}

/** MOBILES **/

@media all and (max-width: 599px){
  body {
    background: #13505B;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 35px;
    padding: 5px;
  }
}

/** TABLET & DESKTOP **/

@media all and (min-width: 600px){

  body {
    background: #13505B;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 45px;
    padding: 5px;
  }
}

body a {
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
}

/*** HEADER ***/

header {
  text-align: center;
}

/** Headings: MOBILES **/

@media all and (max-width: 599px){
  h1{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
  }

  h2{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 0px;
  }

  h3{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
  }
}

/** HEADINGS: Tablets **/

@media all and (min-width: 600px){

  h1{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
  }

  h2{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-left: 5px;
  }

  h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }
}

/** HEADINGS: Desktops **/

@media all and (min-width: 850px){

  h1{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
  }

  h2{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 25px;
  }

  h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }
}

/** To hide elements on smaller screens **/

@media all and (max-width: 600px){
  .mobhide {
    display: none;
  }
}

/** NAVIGATION **/

/** MOBILES **/

@media all and (max-width: 599px){

  nav{
    background-color: #040404;
    display: flex;
    font-size: 20px;
    justify-content: center;
  }

  nav ul li {
    display: inline-flex;
    padding: 0px 15px 0px 25px;
  }

  nav ul li a{
    font-size: auto;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
  }
}

/** TABLETS & DESKTOPS **/

@media all and (min-width: 600px){

  nav {
    background-color: #040404;
    font-size: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  nav ul li {
    display: inline-flex;
    padding: 30px;
  }

  nav ul li a {
    font-size: auto;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    text-align: justify;
  }

  .menu-hover a:hover{
    background: #0C7489;
  }
}

/** HOME PAGE: SERVICES **/

/** SERVICES: MOBILES **/

@media all and (max-width: 599px){

  .services{
    display: flex;
    flex-flow: column;
    padding: 10px;
    text-align: center;
  }

  .services h3{
    font-size: 20px;
  }

  .services ul{
    list-style-type: none;
    padding-left: 0px;
  }

  .services img{
    padding: 5px;
  }

  .third-width{
    align-self: flex-start;
    flex-basis: 100%;
    line-height: 30px;
    padding: 0px;
  }

  .box{
    background-color: #119DA4;
    box-sizing: content-box;
    width: 90%;
    height: 100%;
    border: solid black;
    padding: 10px;
  }

  .middle-box{
    background-color: #D7D9CE;
    box-sizing: content-box;
    color: #000000;
    width: 90%;
    height: 100%;
    border: solid black;
    padding: 10px;
  }
}

/** SERVICES: TABLETS **/

@media all and (min-width: 600px){
  .services{
    flex-flow: row nowrap;
  }

  .services h3{
    font-size: 30px;
  }

  .services ul{
    list-style-type: none;
    padding-left: 0px;
  }

  .services img{
    padding: 5px;
    align-self: center;
  }

  .third-width{
    line-height: 40px;
    text-align: center;
    padding: 0px;
  }

  .box{
    background-color: #119DA4;
    box-sizing: content-box;
    width: 97%;
    height: 100%;
    border: solid black;
    padding: 10px;
  }

  .middle-box{
    background-color: #D7D9CE;
    box-sizing: content-box;
    color: #000000;
    width: 97%;
    height: 100%;
    border: solid black;
    padding: 10px;
  }
}

/** SERVICES: DESKTOPS **/

@media all and (min-width: 850px){

  .services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .third-width{
    align-self: flex-start;
    flex-basis: 30%;
    line-height: 45px;
    padding-left: 30px;
  }

  .box{
    box-sizing: content-box;
    width: 30%;
    height: 90%;
    border: solid black;
    border-width: 10px;
  }

  .middle-box{
    background-color: #D7D9CE;
    box-sizing: content-box;
    color: #000000;
    width: 30%;
    height: 90%;
    border: solid black;
    border-width: 10px;
  }
}

/** HOMEPAGE: INTRO **/

/** INTRO: MOBILES **/

@media all and (max-width: 599px){

  .intro{
    background-color: #040404;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    padding: 10px;
  }

  .intro img{
    align-self: center;
    width: 90%;
    height:auto;
    padding: 10px;
  }

  .intro p{
    padding: 0px 10px 0px 10px;
    line-height: 40px;
  }
}

/** INTRO: TABLETS **/

@media all and (min-width: 600px){
  .intro{
    background-color: #040404;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .intro img{
    align-self: flex-start;
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
  }

  .intro p{
    padding: 0px 15px 0px 15px;
    line-height: 40px;
    font-size: 18px;
  }
}

/** INTRO: DESKTOP **/

@media all and (min-width: 850px){
  .intro{
    background-color: #040404;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 20px 10px 10px 20px;
  }

  .intro img{
    width: 20%;
    height:auto;
    padding: 15px;
  }

  .intro p{
    font-size: 24px;
    padding-top: 10px;
    line-height: 55px;
  }

  .intro a:hover{
    background-color: #0C7489;
  }
}

/*** CONTACT ***/

/** CONTACT: MOBILES **/

@media all and (max-width: 599px){
  .contact {
    display: flex;
  }

  .contact-img {
    max-width: 100%;
    height: auto;
  }

  .contact ul {
    list-style-type: none;
  }

  .contact ul li {
    display: inline-block;
    padding: 10px;
  }
}

/** CONTACT: DESKTOP **/

@media all and (min-width: 600px){
  .contact {
    background-color: #119da4;
    text-align: center;
    padding-top: 20px;
  }

  .contact-img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    padding-top: 20px;
  }

  .contact p {
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: left;
  }

  .contact ul {
    list-style: none;
    text-align: center;
  }

  .contact ul li {
    display: inline-block;
    text-align: center;
    padding: 25px;
  }
}

/** FOOTER ICONS **/

/** Mobile icon size **/

@media only screen and (max-width: 599px) {

  [class^="icon"] {
    background-position:-50px 0px;
    height:35px;
    width:35px;
  }
}

/** Tablets icon size **/

@media all and (min-width: 600px){

  [class^="icon"] {
    background-position:-32px 0px;
    height:45px;
    width:45px;
  }
}

/** Desktop icon size **/

@media only screen and (min-width: 850px){

  [class^="icon"] {
    background-position:-20px 0;
    height:60px;
    width:60px;
  }
}

/** Portfolio **/

.portfolio img{
  max-width: 100%;
  height: auto;
}

.statement{
  background-color: #119da4;
}

.statement p{
  padding: 10px;
}


/** History **/

.history p{
  text-align: left;
}

.history-icon {
  float: left;
  padding-right: 15px;
  padding-top: 25px;
  padding-left: 15px;
}

#education, #data, #projectmgt, #facilitation, #people, #housing {
  height: auto;
  padding-left: 25px;
  text-align: left;
}

#education, #data, #projectmgt, #facilitation, #people, #housing img{
  padding-top: 25px;
}

#education ul{
  list-style-type: disc;
  text-align: left;
  padding-left: 75px;
}

#data, #facilitation, #housing{
  background-color: white;
}
